doctype html
html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(content="width=device-width\, initial-scale=1", name="viewport")
		title Simple App
		link(rel='stylesheet', type='text/css', href='/styles/bootstrap.css')
		link(rel='stylesheet', type='text/css', href='/styles/style.css')
	body
		h1 It's work!
		script(type='text/javascript', src='/js/bootstrap.js')